{% include "header.html" %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
{% endblock %}
    <main>
        <div class="container">
            <section class="about-page">
                <h1>About Us</h1>

                <div class="about-content">
                    <h2>Introduction</h2>
                    <p>We are a passionate team of innovators dedicated to making the world a better place. Our goal is to create solutions that change lives.</p>
                </div>

                <div class="what-we-do">
                    <h2>What We Do</h2>
                    <ul>
                        <li><strong>Research:</strong> We conduct cutting-edge research to develop new technologies.</li>
                        <li><strong>Innovation:</strong> We transform ideas into practical solutions.</li>
                        <li><strong>Collaboration:</strong> We partner with businesses to bring our solutions to market.</li>
                    </ul>
                </div>

                <div class="our-mission">
                    <h2>Our Mission</h2>
                    <p>Our mission is to push the boundaries of innovation while making a positive impact on society. We believe that with the right resources, anything is possible.</p>
                </div>

                <div class="our-impact">
                    <h2>Our Impact</h2>
                    <p>We’ve impacted thousands of lives through our projects and innovations. By working on global challenges, we bring meaningful change to the world.</p>
                    <p>Join us on our journey to make the world a better place.</p>
                </div>

                <div class="partners">
                    <h2>Our Partners</h2>
                    <ul>
                        <li><a href="https://netpeak.group/" target="_blank"><img src="../../static/images/netpeak.jpg"></a></li>
                        <li><a href="https://gladpet.org/" target="_blank"><img src="../../static/images/gladpet.jpg"></a></li>
                        <li><a href="https://dogcat.com.ua/" target="_blank"><img src="../../static/images/sirius.jpg"></a></li>
                        <li><a href="https://esputnik.com/uk" target="_blank"><img src="../../static/images/esputnik.png"></a></li>
                    </ul>
                </div>

                <div class="get-involved">
                    <h2>Get Involved</h2>
                    <ul>
                        <li><strong>Donate:</strong> Support our initiatives through donations.</li>
                        <li><strong>Volunteer:</strong> Join our team and contribute to impactful projects.</li>
                        <li><strong>Collaborate:</strong> Partner with us to create innovative solutions.</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
{% include "footer.html" %}