{% include "header.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="../static/css/takepet.css">
{% endblock %}

<div class="container">
    <div class="widget">
        <h3 class="widget-title">Filtering:</h3>
        <span class="custom-dropdown big">
            <select id="a" onchange="this.form.submit()">
                <option value="" {% if not animal_type %}selected{% endif %}>View: all</option>
                <option value="Dog" {% if animal_type == 'Dog' %}selected{% endif %}>Dog</option>
                <option value="Cat" {% if animal_type == 'Cat' %}selected{% endif %}>Cat</option>
            </select>
        </span>
        <span class="custom-dropdown big">
            <select id="b" onchange="this.form.submit()">
                <option value="" {% if not gender %}selected{% endif %}>Gender: all</option>
                <option value="Male" {% if gender == 'Male' %}selected{% endif %}>Male</option>
                <option value="Female" {% if gender == 'Female' %}selected{% endif %}>Female</option>
            </select>
        </span>
        <span class="custom-dropdown big">
            <select id="c" onchange="this.form.submit()">
                <option value="" {% if not color %}selected{% endif %}>Color: all</option>
                <option value="Grey" {% if color == 'Grey' %}selected{% endif %}>Grey</option>
                <option value="White" {% if color == 'White' %}selected{% endif %}>White</option>
                <option value="Beige" {% if color == 'Beige' %}selected{% endif %}>Beige</option>
                <option value="Brown" {% if color == 'Brown' %}selected{% endif %}>Brown</option>
                <option value="Black" {% if color == 'Black' %}selected{% endif %}>Black</option>
            </select>
        </span>
        <span class="custom-dropdown big">
            <select id="d" onchange="this.form.submit()">
                <option value="" {% if not age %}selected{% endif %}>Age: all</option>
                <option value="1" {% if age == '1' %}selected{% endif %}>Less than a year</option>
                <option value="2" {% if age == '2' %}selected{% endif %}>1-2 years</option>
                <option value="3" {% if age == '3' %}selected{% endif %}>2-3 years</option>
                <option value="4" {% if age == '4' %}selected{% endif %}>3-4 years</option>
                <option value="5" {% if age == '5' %}selected{% endif %}>4-5 years</option>
                <option value="6" {% if age == '6' %}selected{% endif %}>More than 5 years</option>
            </select>
        </span>
    </div>

    <div class="widget">
        <h3 class="widget-title">Looking for a home</h3>
        <ul class="widget-posts-list" id="list">
            {% for animal in animals %}
                <li onclick="location.href = 'pet_page/{{ animal.id }}';">
                    <div class="post-image-small">
                        {% if animal.image_url %}
                            <a><img src="{{ animal.image_url }}"></a>
                        {% else %}
                            <a><img src="https://images.unsplash.com/photo-1450778869180-41d0601e046e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGV0fGVufDB8MHwwfHx8Mg%3D%3D"></a>
                        {% endif %}
                    </div>
                    <h4 class="widget-post-title">{{ animal.animal_name }}</h4><br><br>
                    <p>Color: {{ animal.animal_color }}</p>
                    <p>Gender: {{ animal.animal_gender }}</p>
                    <p>Type: {{ animal.animal_type }}</p>
                    {% if animal.animal_age < 12 %}
                        {% if animal.animal_age > 1 %}
                            <p>Age: {{ animal.animal_age }} months</p>
                        {% else %}
                            <p>Age: {{ animal.animal_age }} month</p>
                        {% endif %}
                    {% elif animal.animal_age < 24 %}
                        <p>Age: {{ animal.animal_age // 12 }} year</p>
                    {% else %}
                        <p>Age: {{ animal.animal_age // 12 }} years</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if pagination.has_prev %}
                <a href="{{ url_for('main.adopt', page=pagination.prev_num, type=animal_type, gender=gender, color=color, age=age) }}">Previous</a>
            {% endif %}

            <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>

            {% if pagination.has_next %}
                <a href="{{ url_for('main.adopt', page=pagination.next_num, type=animal_type, gender=gender, color=color, age=age) }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>

{% include "footer.html" %}
{% block script %}
<script>
    $('.nav-toggle').on('click', function(){
        $('#menu').toggleClass('active');
    });

    var tr = document.querySelectorAll('#list li'),
    sel = document.querySelectorAll('select');
    sel.forEach(el => el.onclick = e => tr.forEach(el => el.style.display =
        (el.textContent.includes(sel[0].options[sel[0].selectedIndex].textContent) || sel[0].selectedIndex == 0) &&
        (el.textContent.includes(sel[1].options[sel[1].selectedIndex].textContent) || sel[1].selectedIndex == 0) &&
        (el.textContent.includes(sel[2].options[sel[2].selectedIndex].textContent) || sel[2].selectedIndex == 0) &&
        (el.textContent.includes(sel[3].options[sel[3].selectedIndex].textContent) || sel[3].selectedIndex == 0) ? 'inline-block' : 'none'));
</script>
{% endblock %}
